.git
.github
**/.gradle
**/build
**/bin
**/node_modules
**/.venv
**/allure-results
**/allure-report
**/test-results
**/.DS_Store
*.md
.env
.env.*
tests
preview
frontend/scripts
frontend/_catalog
frontend/_shared/frontend-javascript-embed
frontend/javascript/react
frontend/typescript
backend/scripts
deploy/nginx
deploy/*.sh
