.git
.github
**/.gradle
**/build
**/bin
**/node_modules
**/.venv
**/allure-results
**/allure-report
**/test-results
**/.DS_Store
*.md
!frontend/_shared/frontend_javascript_app/README.md
.env
.env.*
tests
deploy
preview
frontend/_catalog
frontend/_shared/frontend_javascript_embed
frontend/javascript/react
frontend/typescript
